## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np


# Esse código garante que seja resultados randômicos, mas toda as vezes que executarmos ele dará sempre o mesmo resultado randômico
np.random.seed(42)

# Os números 24,18,8,8,8,12,12 são os números de questões 
# size = 100 porque temos 100 alunos
# columns é simplesmente o nome da coluna

df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

**Temos um total de 90 questões**

In [2]:
# 1) (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.

# aqui vamos pegar o nosso DataFrame randômico e dividir pelo número de questões por matérias. Dessa forma teremos a porcentagem


pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  12
pc_qui = df_qui /  12

In [3]:
# 2) (operações entre DataFrames) Calcule o total de acertos de cada aluno.

# Percaba que o índice são números e não um nome real de um aluno. 
# Dessa forma temos os acertos de cada aluno no total das questões 

total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [4]:
# 3) Calcule o porcentual geral de cada aluno.

# Como temos um total de 90 questões,e ntão basta dividir os valores do total que achamos por 90
# Se quiser converter o valor para percentagem, basta multiplicar por 100

total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [5]:
# 4) Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

# Aqui nós separemos os que estão acima de 45 
total_gt_45 = total[total['Qt_acertos'] > 45]

# Aqui fazemos a contagem destes alunos acima de 45
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# 1) Neste vestibular, quem tira nota zero em matemática, física ou química está desqualificado. Monte um novo DataFrame com os alunos desqualificados por este critério.


# Este é um modo mais demorado de fazer a mesma questão e de forma separada

"""
df_eliminados_mat = total[df_mat['Qt_acertos'] == 0] 
df_eliminados_fis = total[df_fis['Qt_acertos'] == 0] 
df_eliminados_qui = total[df_qui['Qt_acertos'] == 0]
"""

# Modo simplificado
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                    (df_fis['Qt_acertos'] == 0) | 
                   (df_qui['Qt_acertos'] == 0)]
df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [7]:
# 2) Quantos são esses alunos?

df_eliminados.count()

Qt_acertos    23
dtype: int64

In [8]:
# 3) Qual a média desses alunos em história e geografia?


# Como a pergunta queria os alunos que faziam parte do DataFrame df_eliminados, então transformei os índices desse DataFrame em uma lista 
list_index = df_eliminados.index.tolist()

# Após transformar agora posso usar a função "loc" para saber a média apenas destes alunos em especíco 
media_geo = df_geo.loc[list_index].mean() # Média para Geografia
media_his = df_his.loc[list_index].mean() # Média para História

In [9]:
# 4) Monte um DataFrame com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

# Como já tinhamos separado a lista dos que foram reprovados, bastava retirar os índices dos desclassificados que teriamos o dataframe dos classificados
Alunos_classificados = total.drop(list_index, axis=0)
Alunos_classificados

    Qt_acertos
0           35
1           48
2           50
4           30
5           50
..         ...
93          56
95          34
96          27
97          40
99          42

[77 rows x 1 columns]

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [16]:
arquivo = 'http://localhost:8888/edit/Desktop/Estudos/EBAC/Ci%C3%AAncia%20de%20Dados/M%C3%B3dulo%204%20-%20Introdu%C3%A7%C3%A3o%20ao%20Pandas%20e%20carga%20de%20dados/Aulas%20e%20tarefas%203%2C%204%20e%205/registros%20de%20vacinacao%20covid%20ACRE.csv'

In [17]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 82, saw 2

In [18]:
df.head()

NameError: name 'df' is not defined

In [ ]:
df.shape[0]

In [ ]:
# 2) 
df['paciente_id'].nunique()

In [ ]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

In [ ]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

In [ ]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

In [ ]:
# 5)
df['estabelecimento_razaosocial'].nunique()

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [ ]:
# 2) 
df_menor.columns

In [ ]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

In [ ]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [ ]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape